name: real_estate_calculator
description: A new Flutter project for calculating real estate costs.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  currency_text_input_formatter: ^2.3.0
  flutter:
    sdk: flutter
  flutter_localizations: # Required for RTL support
    sdk: flutter

  # For custom Arabic fonts
  google_fonts: ^6.1.0
  google_mobile_ads: ^5.1.0 # تأكد من استخدام أحدث إصدار

  # For number formatting (e.g., adding commas to currency)
#  intl: ^0.19.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: "^0.14.4"
  shared_preferences: ^2.5.3
  url_launcher: ^6.2.6 # Add this line

flutter_launcher_icons:
    android: "launcher_icon"
    ios: true
    image_path: "assets/icon/icon.png"
    min_sdk_android: 21 # android min sdk min:16, default 21
    web:
      generate: true
      image_path: "assets/icon/icon.png"
      background_color: "#hexcode"
      theme_color: "#hexcode"
    windows:
      generate: true
      image_path: "assets/icon/icon.png"
      icon_size: 48 # min:48, max:256, default: 48
    macos:
      generate: true
      image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true
