name: real_estate_calculator
description: A new Flutter project for calculating real estate costs.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: # Required for RTL support
    sdk: flutter

  # For custom Arabic fonts
  google_fonts: ^6.1.0

  # For number formatting (e.g., adding commas to currency)
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
